<header id="header-bar" class="header-bar">
  <div class="hamburger-component checkbox-menu">

    <label for="toggle-hamburger" class="hamburger-button">
      <img src="/w/skins/OpenLibrary/static/images/menu.png" alt="additional options menu">
    </label>

    <input role="button" type="checkbox" class="hamburger-component__checkbox" id="toggle-hamburger">
    <div class="hamburger-dropdown-component navigation-dropdown-component">
      <ul class="dropdown-menu hamburger-dropdown-menu">
        <li><a href="/books/add">Add a Book</a></li>
        <li><a href="/sponsorship">Sponsor a Book</a></li>
        <li><a href="/recentchanges">Recent Community Edits</a></li>
        <li><a href="/developers">Developer Center</a></li>
        <li><a href="/help">Help &amp; Support</a></li>
      </ul>
    </div>
  </div>

  <div class="logo-component">
    <a href="/" title="The Internet Archive's Open Library: One page for every book">
      <div class="logo-txt">
      {{#data-logos.wordmark}}
      <img  class="logo-icon" src="{{src}}" alt="{{msg-sitetitle}}"
        width="{{width}}" height="{{height}}">
      {{/data-logos.wordmark}}
      {{^data-logos.wordmark}}
      <h1>{{msg-sitetitle}}</h1>
      {{/data-logos.wordmark}}
      </div>
    </a>
  </div>

  <div class="search-component">
    <div class="search-bar-component">
      <div class="search-bar">
        <div class="search-facet">
          <label class="search-facet-selector">
            <span aria-hidden="true" class="search-facet-value">All</span>
            <select aria-label="Search by">
              <option value="all">All</option>
              <option value="title">Title</option>
              <option value="author">Author</option>
              <option value="text">Text</option>
              <option value="subject">Subject</option>
              <option value="lists">Lists</option>
              <option value="advanced">Advanced</option>
            </select>
          </label>
        </div>
        <form class="search-bar-input" action="/search?has_fulltext=true" method="get">
          <input type="text" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
          <input name="mode" type="checkbox" aria-hidden="true" aria-label="Search checkbox" checked="checked" value="ebooks" id="ftokenstop" class="hidden instantsearch-mode">
          <input type="submit" value="" class="search-bar-submit" aria-label="Search submit">
        <input type="hidden" name="has_fulltext" value="true"></form>
      </div>
      <div class="search-dropdown">
        <ul class="search-results"></ul>
      </div>
    </div>
  </div>

  <ul class="navigation-component">
    <li class="browse-menu checkbox-menu">
      <label for="toggle-browse-menu" class="browse-menu-button">Browse 
        <img class="down-arrow" aria-hidden="true" src="/w/skins/OpenLibrary/static/images/down-arrow.png" alt="" role="presentation" width="7" height="4">
      </label>

      <input role="button" type="checkbox" class="navigation-component__checkbox" id="toggle-browse-menu">
      <div class="navigation-dropdown-component">
        <ul class="dropdown-menu browse-menu-options">
          <li><a href="/subjects">Subjects</a></li>
          <li><a href="/lists">Lists</a></li>
          <li><a href="/k-12">K-12 Student Library</a></li>
          <li><a href="/random">Random Book</a></li>
          <li><a href="/advancedsearch">Advanced Search</a></li>
        </ul>
      </div>
    </li>
    <li class="more-menu checkbox-menu">
      <label for="toggle-more-menu" class="more-menu-button">More 
        <img class="down-arrow" aria-hidden="true" alt="" role="presentation" src="/w/skins/OpenLibrary/static/images/down-arrow.png" width="7" height="4">
      </label>

      <input role="button" type="checkbox" class="navigation-component__checkbox" id="toggle-more-menu">
      <div class="navigation-dropdown-component">
        <ul class="dropdown-menu more-menu-options">
          <li><a href="/books/add">Add a Book</a></li>
          <li><a href="/sponsorship">Sponsor a Book</a></li>
          <li><a href="/recentchanges">Recent Community Edits</a></li>
          <li><a href="/developers">Developer Center</a></li>
          <li><a href="/help">Help &amp; Support</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <div class="account-component checkbox-menu">
    <div class="dropdown-avatar">        
      <label for="toggle-account" id="userToggle" class="avatar account-button" aria-label="My account" style="background-image: url('https://archive.org/services/img/@jdlrobson');">
      </label>
  
      <label for="toggle-account" class="account-button">
        <img class="down-arrow" aria-hidden="true" src="/w/skins/OpenLibrary/static/images/down-arrow.png" role="presentation" alt="">
      </label>
    </div>
  
    <input role="button" type="checkbox" class="account-component__checkbox" id="toggle-account">
    <div class="account-dropdown navigation-dropdown-component" id="main-account-dropdown">
      <ul class="dropdown-menu">
        <li><a href="/people/jdlrobson">My Profile</a></li>
        <li><a href="/account/loans">My Loans</a></li>
        <li><a href="/people/jdlrobson/lists">My Lists</a></li>
        <li><a href="/account/books">My Reading Log</a></li>
        <li><a href="/account/books/already-read/stats">My Reading Stats</a></li>
        <li><a href="/account">Settings</a></li>
        <li>
          <form name="logout" action="/account/logout" method="post">
            <a href="#" onclick="document.forms['logout'].submit()">Log out</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</header>
