<div class="banner" role="banner"></div>
{{{html-site-notice}}}
<header id="header-bar" class="header-bar"
	{{#data-logos.wordmark}}
	data-logo-width="{{width}}"
	data-logo-height="{{height}}"
	data-logo-src="{{src}}"
	{{/data-logos.wordmark}}
	data-footer-search-text="{{msg-searchsuggest-containing}}"
	data-placeholder="{{msg-tooltip-search}}"
	data-button-label="{{msg-search}}"
	data-form-action="{{data-search-box.form-action}}"
	data-title="{{msg-sitetitle}}"
	data-tagline="{{msg-tagline}}"

	{{#data-portlets}}
	data-user-menu="&lt;li&gt;&lt;ul{{!
		}}{{#data-notifications}} id=&quot;{{id}}&quot; class=&quot;{{class}}&quot; &gt;{{html-items}}&lt;/ul&gt;&lt;/li&gt;{{/data-notifications}}{{!
		}}{{data-user-menu.html-items}}{{!
	}}"
	{{/data-portlets}}
	
	{{#data-portlets-sidebar}}
	data-sidebar="{{data-portlets-first.html-items}}{{#data-portlets-rest}}{{html-items}}{{/data-portlets-rest}}"
	{{/data-portlets-sidebar}}
>
	<!-- Vue.js -->
</header>
<article>
	<header>
		<div class="article__tagline">{{msg-tagline}}</div>
		<h1>{{{html-title}}}</h1>
		<div class="article__subtitle">{{{html-subtitle}}}</div>
		{{#data-portlets}}
		<div id="{{data-views.id}}" class="{{data-views.class}}">
			<ul>{{{data-views.html-items}}}</ul>
		</div>
		{{/data-portlets}}
	</header>
	{{{html-body-content}}}
</article>
<footer
	data-foo[]="test"
	data-foo[]="test2"
	{{#data-footer}}
	data-blurb="{{#data-icons.array-items}}{{html}}{{/data-icons.array-items}}"
	{{/data-footer}}
>
</footer>
